@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.app {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
}

.content {
  padding: 20px;
  width: 100%;
}

.file-manager-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status-section {
  display: flex;
  margin-top: 20px;
}
